body {
	margin: 0;
	min-height: 100%;
	background: grey;
}

#container{
	width: 60%;
	margin: 0 auto;
	background: white;
}

#pick h1{
	text-align: center;
}

#pick form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#pick img{
	width: 200px;
	padding: 20px;
}

#pick img:hover{
	background: #b75c50;
	cursor: pointer;
	transition: 0.6s;
}

#pick input[type="radio"]{
	visibility: hidden;
}

#battle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #473D53;
	height: 800px;
}
#top-part{
	background: linear-gradient(to bottom, #B4E191 , #D8F7D3);
	flex-basis: 100%;
	height: 550px;
}

#top-part img{
	width: 16vh;
	height: 16vh;
}



#messagebox{
	box-sizing: border-box;
	flex-basis: 60%;
	height: 250px;
    border-top: 3px solid #C54E41;
    border-bottom: 3px solid #C54E41;
    border-left: 8px solid #C54E41;
    border-right: 8px solid #C54E41;
	border-radius: 20px;
	background: #699F9F;
}

#messagebox p{
	font-size: 3vh;
	color:white;
	width: 60%;
	margin: 10px;
}

#battlemenu{
	background: #473D53;
	flex-basis: 40%;
	height: 250px;
}

li{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	flex: 1 1 50px;
	justify-content: center;
}

button{
	display:block
	margin: 0 auto;
	border: none;
	background: white;
	text-align: center;
	overflow:hidden;
	margin: 20px 10%;
	width: 80%;
	height: 25px;
}

@media all and (max-width: 640px){
	#container{
		width: 100%;
	}
	
	#top-part{
		flex-basis: 75%;
	}
	
	#battlemenu{
		flex-basis: 25%;
	}
	
	#messagebox{
		order: 2;
		flex-basis: 100%;
	}
	
	button{
		margin-top: 25%;
		height: 20px;
	}
}


.ouch{
	animation: damaged .5s;
}

@keyframes damaged{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-5px, -1px) rotate(1deg); }
    30% { transform: translate(7px, 3px) rotate(0deg); }
    40% { transform: translate(5px, -1px) rotate(1deg); }
    50% { transform: translate(-3px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.typewriter{
	animation: typing 2s;
	margin: 0 auto;
	overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}